<html>
  <% provide(:title, "New User") %> 
  <body>
    <div class ="container">
        <%= yield %> 
    </div>
    
    <div class="centre jumbotron">
      <h1>Create New User</h1> <!-- from app/app/controllers/user_controller.rb -->
      <%= render "form", user: @user %> <!-- renders _form.html.erb -->
      
      <p><%= link_to "Back", request.referer || root_path %></p>
    </div>
  </body>
</html>