<html>
  <% provide(:title, "Edit Department") %> 
  <% provide(:action, "Save changes") %>
  
  <body>
    <div class ="container">
        <%= yield %> 
    </div>
    
    <div class="centre jumbotron">
      <h1>Update Department</h1>
      
      <%= render "form", department: @department, create: false, link: @department.id, action: "Save Changes" %>
      
      <p><%= link_to "Back", request.referer || root_path %></p>
    </div>
  </body>
</html>
