<% provide(:title, "Edit Department") %> 
<body>
<div class ="container">
    <%= yield %> 
</div>
  <div class="centre jumbotron">
    <h1>Update Department</h1>
    <%= render "form", department: @department %> 
  </div>
</body>

