<body>
<h1>Create New Department</h1> <!-- from app/app/controllers/department_controller.rb -->

<%= render "form", department: @department %> <!-- renders _form.html.erb from /views/departments -->

</body>