<body>
<h1>Home</h1>

<p> 
    (all features coming soon)
</p>

<p> 
    <%= link_to "Access employee database", "/departments" %> 
</p>

<p>
    <%= "Access meeting database"%>
</p>

<p>
    <%= link_to "Create new meeting", "/zoom" %>
</p>
</body>