<body>
<h1>Home</h1>

<p> 
    (all features coming soon)
</p>

<p> 
    <%= link_to "Access employee database", "/departments" %> 
</p>

<p>
    <%= "Access meeting database"%>
</p>

<p>
    <%= link_to "Create new meeting (S2S OAuth)", "/zooms2s" %>
</p>

<p> 
    <%= link_to "Retrieve OAuth Access Tok (test)", "/zoom" %>
</p>

</body>