<style>
    body { font-family: Arial, sans-serif; }
</style>

<body>
<h1>Home</h1>

<p> 
    (all features coming soon)
</p>

<p> 
    <%= link_to "Access employee database", "/departments" %> 
</p>

<div>
    <%= "Access meeting database"%>
</div>
</body>