/* deals with notice types in redirect lines and default formats for text */ 

.flash {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.notice {
  color: black;
}

.success { 
  color: green;
}

.error {
  color: red;
}

body { 
  font-family: Arial, sans-serif; 
  
}
